// Tablets & Smaller
@media (max-width: 800px) {
  #timeline {
    ul {
      li {
        div {
          width: 250px;
        }
        &:nth-child(even) {
          div {
            left: -284px;
          }
        }
      }
    }
  }
  #header-home {
    height: 30rem;

    .header-content {
      padding-top: 5rem;
    }
  }
  html {
    font-size: 0.5rem;
  }

  #header {
    &-home {
      background: $bg-image no-repeat center right / cover;
      height: 100vh;
      // Header Content
      .header-content {
        background: none;
        padding-top: 35vh;
        h1 {
          font-size: 4rem;
          line-height: 0.7;
        }
        p {
          font-size: 2.5rem;
        }
      }
    }
  }

  .btn-light {
    width: 8rem;
    height: 9rem;
    font-size: 2rem;
  }

  .award {
    flex-direction: column;
  }
  #about {
    &-a {
      .about-info {
        display: grid;
        grid-template-areas: "bioself" "bio";
        .bio {
          margin-top: 4rem;
          width: 420px;
          font-size: 1.5rem;
        }
      }
    }
  }
}

// Smartphones
@media (max-width: 500px) {
  #timeline {
    ul {
      li {
        margin-left: 20px;
        div {
          font-size: 2rem;
          width: calc(100vw - 90px);
        }
        &:nth-child(even) {
          div {
            font-size: 2rem;
            left: 40px;
            &:before {
              left: -15px;
              border-width: 8px 16px 8px 0;
              border-color: transparent $secondary-color transparent transparent;
            }
          }
        }
      }
    }
  }

  html {
    font-size: 0.5rem;
  }

  .award {
    flex-direction: column;
  }

  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
  }

  #header {
    &-home {
      background: $bg-image no-repeat center right / cover;
      height: 100vh;
      // Header Content
      .header-content {
        background: none;
        padding-top: 35vh;
        h1 {
          font-size: 4rem;
          line-height: 0.7;
        }
        p {
          font-size: 2.5rem;
        }
      }
    }
  }

  .btn-light {
    width: 8rem;
    height: 9rem;
    font-size: 2rem;
  }

  // About
  #about {
    // About A
    &-a {
      .about-info {
        display: grid;
        grid-template-areas: "bioself" "bio";
        .bio {
          margin-top: 4rem;
          width: 350px;
          font-size: 1.7rem;
          margin-left: 0px;
        }
      }

      &-c {
        display: none;
      }
    }
  }

  // Box
  .award {
    .box {
      margin-top: 3.5rem;
    }
  }

  // Contact
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          "name"
          "subject"
          "email"
          "phone"
          "message";
      }
    }

    &-b {
      div {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px #555 solid;

        &:last-child {
          border: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    &-c {
      h1 {
        font-size: 2rem;
      }
    }
  }

  // Footer
  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
  }
}

// Landscape
@media (max-height: 580px) {
  #header {
    &-home {
      background: $bg-image no-repeat center right / cover;
      height: 100vh;
      // Header Content
      .header-content {
        background: none;
        h1 {
          font-size: 2rem;
          line-height: 0.7;
        }
      }
    }
  }

  .award {
    flex-direction: column;
  }
  #about {
    &-a {
      .about-info {
        display: grid;
        grid-template-areas: "bioself" "bio";
        .bio {
          margin-top: 4rem;
          width: 500px;
          font-size: 2rem;
          margin-left: 0px;
        }
      }
    }
  }

  #header {
    &-home {
      background: $bg-image no-repeat center right / cover;
      height: 100vh;
      // Header Content
      .header-content {
        background: none;
        padding-top: 35vh;
        h1 {
          font-size: 4rem;
          line-height: 0.7;
        }
        p {
          font-size: 2.5rem;
        }
      }
    }
  }

  .btn-light {
    width: 8rem;
    height: 9rem;
    font-size: 2rem;
  }
}

@media (max-height: 330px) {
  #header-home {
    .header-content {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
